.mine {
   border-bottom: 1px solid lightgray;
}

.minetop {
   display: flex;
   flex-direction: row;
}

.minetop>img {
   height: 60px;
   width: 60px;
   border-radius: 50%;
   overflow: hidden;
   margin: 10px;
}

.top {
   margin-top: 0px;
   margin-bottom: 0px;
}

.top>h2 {
   text-align: left;
   border-bottom: 1px solid lightgray;
   padding-left: 20px;
   padding-bottom: 16px;
}

.inp {
   border: 0px solid lightgray;
   border-radius: 20px;
   height: 50px;
   width: 70%;
   font-size: 18px;
   font-family: sans-serif;
   margin-top: 0px;
   padding: 10px;
}

.inp:focus {
   outline: none;
}

.tweet {
   border: solid 1px #1DA1F2;
   border-radius: 10px;
   height: 100px;
   background-color: #c7eaff;
   margin-bottom: 20px;
   margin-top: 20px;
}

.test {
   color: #000000;
   text-align: center;
   font-style: normal;
   margin-left: 20px;
   margin-top: 20px;
   font-size: large;
}

.test2 {
   color: #000000;
   text-align: right;
   margin-right: 20px;
   margin-top: 40px;
   font-size: small;
}